.card {
  max-width: 320px;
  padding: 0.8rem;
  padding-bottom: 0.5rem;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Default shadow
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); // Increased shadow on hover
    transform: translateY(-3px);
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    
    .icon {
      margin-right: 1rem;
      font-size: 24px;
      color: var(--primary-text-color);
    }

    .title {
      font-weight: 600;
      color: var(--primary-text-color);
      font-size: 1.2rem;
    }
  }

  .content {
    margin-bottom: 1rem;
  }

  .footer {
    margin-top: 0.2rem;
    padding-top: 0.2rem;
    border-top: 1px solid var(--secondary-color);
    width: 100%;
  }
}
