.input-number {
  width: 100%;
  border: 1px solid var(--tertiary-color);
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
  -moz-appearance: textfield;

  &[disabled],
  &[readonly] {
    background-color: $c-neutral--lighter;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}
