<header class="header open-sans-font">
  <div class="logo-nav-container">
    <a href="#/home">
    <img class="logo" src="/assets/icons/logo.png" alt="Logo">
  </a>
    <nav>
      <ul>
        <li>
          <a href="#/gerenciamento/clientes">
            GERENCIAMENTO
            <img src="assets/icons/caret-down.svg" style="width: 10px; height: 10px; margin-left: 5px;" alt="Seta para baixo">
          </a>
        </li>
        <li>
          <a href="#coletas">
            COLETAS
            <img src="assets/icons/caret-down.svg" style="width: 10px; height: 10px; margin-left: 5px;" alt="Seta para baixo">
          </a>
        </li>
        <li>
          <a href="#cotacoes">
            COTAÇÕES
            <img src="assets/icons/caret-down.svg" style="width: 10px; height: 10px; margin-left: 5px;" alt="Seta para baixo">
          </a>
        </li>
        <li>
          <a href="#rastreamento">
            RASTREAMENTO
            <img src="assets/icons/caret-down.svg" style="width: 10px; height: 10px; margin-left: 5px;" alt="Seta para baixo">
          </a>
        </li>
        <li>
          <a href="#wms">
            WMS
            <img src="assets/icons/caret-down.svg" style="width: 10px; height: 10px; margin-left: 5px;" alt="Seta para baixo">
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="user">
    <a href="#login">
      <img class="usuario" src="assets/icons/user.png" alt="Usuário"> Usuário
      <img src="assets/icons/caret-down.svg" style="width: 10px; height: 10px; margin-left: 5px;" alt="Seta para baixo">
    </a>
  </div>

</header>
