<!-- Modal -->
<div class="modal" [class.show]="show" (click)="close()">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content">
      
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="close-btn" (click)="close()">
          &times;
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <ng-content></ng-content>
      </div>

      <!-- Modal Footer -->
      <div *ngIf="!showActions" class="modal-footer">
        <ng-content select=".modal-footer-content"></ng-content>
      </div>
      <div *ngIf="showActions" class="modal-footer">
        <div class="actions-left">
          <ng-container *ngFor="let action of leftActions">
            <button class="btn" [disabled]="action.disabled" [ngClass]="'btn-' + action.type" (click)="triggerAction(action)">
              {{ action.title }}
            </button>
          </ng-container>
        </div>

        <div class="actions-center">
          <ng-container *ngFor="let action of centerActions">
            <button class="btn" [disabled]="action.disabled" [ngClass]="'btn-' + action.type" (click)="triggerAction(action)">
              {{ action.title }}
            </button>
          </ng-container>
        </div>

        <div class="actions-right">
          <ng-container *ngFor="let action of rightActions">
            <button class="btn" [disabled]="action.disabled" [ngClass]="'btn-' + action.type" (click)="triggerAction(action)">
              {{ action.title }}
            </button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
