table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color)
  }
  
  th,
  td {
    padding: 8px;
    border: 1px solid var(--tertiary-color);
  }
  
  th {
    cursor: pointer;
    background-color: var(--theme);
    color: var(--theme-text-white);
  }

  tr {
    color: var(--theme-second-text-color);
  }
  
  tr:hover {
    background-color: var(--table-hover);
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-center {
    text-align: center;
  }
  
  .sortable:hover {
    background-color: color-mix(in srgb, var(--theme) 80%, white);
  }
  