<div class="users-page">
  <div class="title-container">
    <h2 class="title">Users</h2>
    <button wwsBtn="primary" type="button" class="invite-button" (click)="onInviteUser()">
      {{ 'buttons.invite' | translate }}
    </button>
  </div>

  <div *ngIf="userTable">
    <wws-table
      [headers]="userTable.headers"
      [data]="userTable.rows"
      (rowClick)="onRowClick($event)"
    >
      <p no-data>No items to display!</p>
    </wws-table>
  </div>  

  <ng-template #actionTemplateUserActive let-row>
    <button wwsBtn="primary" type="button">{{ 'buttons.disable' | translate }}</button>
  </ng-template>


  <ng-template #actionTemplateUserInactive let-row>
    <button wwsBtn="primary" type="button">{{ 'buttons.enable' | translate }}</button>
  </ng-template>

  <ng-template #actionTemplateInvite let-row>
    <button wwsBtn="primary" type="button" (click)="cancelInvite(row.id)">Cancel invite</button>
  </ng-template>

  <app-modal
  [show]="showInviteModal"
  [title]="'Invite a User'"
  [actions]="[
    { title: this.cancelText, type: 'secondary', position: 'left', action: this.onModalClose.bind(this) },
    { title: this.inviteText, type: 'primary', position: 'right', action: this.onSendInvite.bind(this), disabled: !inviteEmail || !selectedRole || processing }
  ]"
  (onClose)="onModalClose()"
>
  <div class="modal-body">
    <label for="email" class="modal-label m-b-sm">Email</label>
    <input
      id="email"
      name="email"
      type="email"
      [(ngModel)]="inviteEmail"
      required
      class="form-control m-b-md"
      placeholder="Enter user email"
    />

    <label for="role" class="modal-label m-b-sm">Role</label>
    <select
      id="role"
      required
      [(ngModel)]="selectedRole"
      class="form-control"
      name="role"
    >
      <option value="admin">{{ 'user.role.admin' | translate }}</option>
      <option value="user">{{ 'user.role.user' | translate }}</option>
    </select>
  </div>
</app-modal>

     
</div>
