<div class="users-page">
  <div class="title-container">
    <h2 class="title">Users</h2>
    <button wwsBtn="primary" type="button" class="invite-button" (click)="onInviteUser()">
      {{ 'buttons.invite' | translate }}
    </button>
  </div>

  <div *ngIf="userTable">
    <wws-table
      [headers]="userTable.headers"
      [data]="userTable.rows"
      (rowClick)="onRowClick($event)"
    >
      <p no-data>No items to display!</p>
    </wws-table>
  </div>  

  <ng-template #actionTemplateUserActive let-row>
    <button wwsBtn="primary" type="button">{{ 'buttons.disable' | translate }}</button>
  </ng-template>


  <ng-template #actionTemplateUserInactive let-row>
    <button wwsBtn="primary" type="button">{{ 'buttons.enable' | translate }}</button>
  </ng-template>

  <ng-template #actionTemplateInvite let-row>
    <button wwsBtn="primary" type="button" (click)="cancelInvite(row.id)">Cancel invite</button>
  </ng-template>

  <app-modal [show]="showInviteModal" class="invite-modal">
    <div class="modal-header">
      <h3>Invite a User</h3>
    </div>
  
    <div class="modal-body">
      <label for="email" class="modal-label">Email</label>
      <input
        id="email"
        name="email"
        type="email"
        [(ngModel)]="inviteEmail"
        required
        class="form-control"
        placeholder="Enter user email"
      />
  
      <label for="role" class="modal-label">Role</label>
      <select id="role" required [(ngModel)]="selectedRole" class="fadeIn fifth form-control" name="role" >
        <option value="admin">{{'user.role.admin' | translate}}</option>
        <option value="user">{{'user.role.user' | translate}}</option>
      </select>
    </div>
  
    <div class="modal-footer">
      <button class="btn-secondary" (click)="onModalClose()">Cancel</button>
      <button class="btn-primary" [disabled]="!inviteEmail || !selectedRole" (click)="onSendInvite()">Send Invite</button>
    </div>
  </app-modal>
     
</div>
