<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="assets/logo.jpg" id="logoWWS" alt="User Icon" />
    </div>
    
    <div>
      <div class="password-wrapper">
        <h3 class="password-title">Password Reset</h3>
        <p class="password-description">Please inform your email address to reset your password.</p>
    
    
        <div class="password-input-container">
          <!-- Password Field -->
          <div class="input-group">
            <label for="password">{{'user.email' | translate }}</label>
            <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="">
          </div>
        </div>        
      </div>  

      <!-- Submit Button -->
      <div class="password-actions">
        <button class="password-submit-btn" (click)="submitNewPasswordReset()" [disabled]="checkSubmitDisabled()">
          <span *ngIf="!loading">Submit</span>
          <div *ngIf="loading" class="password-spinner"></div>
        </button>
      </div>  
    </div>    
  </div>
</div>
