<div class="invitations-page">
  <div class="title-container">
    <h2 class="title">Invitations</h2>
  </div>

  <div *ngIf="invitationsTable">
    <wws-table
      [headers]="invitationsTable.headers"
      [data]="invitationsTable.rows"
    >
      <p no-data>No Pending Invites!</p>
    </wws-table>
  </div>  

  <ng-template #actionTemplatePending let-row>
    <button wwsBtn="success" type="button" (click)="acceptInvitation(row)">Accept</button>
  </ng-template>

  <ng-template #actionTemplateExpired let-row>
    <h2 class="title">Expired</h2>
  </ng-template>

  <ng-template #actionTemplateAccepted let-row>
    <h2 class="title">Accepted</h2>
  </ng-template>
     
</div>
