<div class="signup-container">
  <div class="signup-form">
    <h2>Welcome to WWS</h2>
    
    <app-profile-picture (onGetPicture)="onGetPicture($event)"></app-profile-picture>

    <form [formGroup]="signupForm" (ngSubmit)="submitForm()">
      
      <div class="input-group">
        <label for="firstName">{{'user.firstName' | translate}}</label>
        <input type="text" id="firstName" formControlName="firstName" required placeholder="{{'user.firstName' | translate}}"
          [class.invalid]="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched">
        <i class="icon-envelope"></i>
        <div class="error-message" *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched">
          {{ 'messages.invalidFirstName' | translate }}
        </div>
      </div>

      <div class="input-group">
        <label for="lastName">{{'user.lastName' | translate}}</label>
        <input type="text" id="lastName" formControlName="lastName" required placeholder="{{'user.lastName' | translate}}"
          [class.invalid]="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched">
        <i class="icon-envelope"></i>
        <div class="error-message" *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched">
          {{ 'messages.invalidLastName' | translate }}
        </div>
      </div>

      <div class="input-group">
        <label for="role">User Role</label>
        <select id="role" formControlName="role" required [class.invalid]="signupForm.controls['role'].touched && signupForm.controls['role'].invalid">
          <option value="admin">{{'user.role.admin' | translate}}</option>
          <option value="user">{{'user.role.user' | translate}}</option>
        </select>
        <div class="error-message" *ngIf="signupForm.controls['role'].touched && signupForm.controls['role'].invalid">
          {{ 'messages.invalidRole' | translate }}
        </div>
      </div>

      <div class="input-group">
        <label for="email">{{'user.email' | translate}}</label>
        <input type="email" id="email" formControlName="email" required placeholder="example@email.com"
          [class.invalid]="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
        <i class="icon-envelope"></i>
        <div class="error-message" *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
          {{ 'messages.invalidEmail' | translate }}
        </div>
      </div>

      <div class="input-group">
        <label for="password">{{'user.password' | translate}}</label>
        <input type="password" id="password" formControlName="password" required placeholder="********"
          [class.invalid]="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
        <i class="icon-eye"></i>
        <div class="error-message" *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
          {{ 'messages.invalidPassword' | translate }}
        </div>
      </div>

      <div class="input-group">
        <label for="confirmPassword">{{'user.password_confirmation' | translate}}</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" required placeholder="********"
          [class.invalid]="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched">
        <i class="icon-eye"></i>
        <div class="error-message" *ngIf="signupForm.get('confirmPassword')?.invalid && signupForm.get('confirmPassword')?.touched">
          {{ 'messages.passwords.dont_match' | translate }}
        </div>
      </div>

      <button type="submit" [disabled]="signupForm.invalid">{{'buttons.signup' | translate}}</button>
    </form>

    <div class="footer-text">
      <p class="signup-link">Already have an account? <a href="/login">{{'buttons.login' | translate}}</a></p>
    </div>
  </div>

  <div class="signup-background"></div>
</div>
