<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="assets/logo.jpg" id="logoWWS" alt="User Icon" />
    </div>
    
    <div *ngIf="isValid">
      <div class="password-wrapper">
        <h3 class="password-title">Password Reset</h3>
        <p class="password-description">Please enter a new password.</p>
    
        <div class="password-input-container">
          <!-- Password Field -->
          <div class="input-group">
            <label for="password">{{'user.password' | translate}}</label>
            <input type="password" id="password" [(ngModel)]="password" (input)="validatePasswords()" 
                   name="password" required placeholder="********">
            <i class="fa" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword" 
                   (click)="togglePasswordVisibility('password')"></i>
          </div>
          <div *ngIf="passwordError" class="error-message">{{ passwordError }}</div>

          <!-- Confirm Password Field -->
          <div class="input-group m-t-md">
            <label for="confirmPassword">{{'user.password_confirmation' | translate}}</label>
            <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" (input)="validatePasswords()" 
                   name="confirmPassword" required placeholder="********">
            <i class="fa" [class.fa-eye]="!showConfirmPassword" [class.fa-eye-slash]="showConfirmPassword" 
                   (click)="togglePasswordVisibility('confirmPassword')"></i>
          </div>
          <div *ngIf="passwordMismatch" class="error-message">Passwords do not match.</div>
        </div>        
      </div>  

      <!-- Submit Button -->
      <div class="password-actions">
        <button class="password-submit-btn" (click)="submitPasswordReset()" [disabled]="isSubmitDisabled">
          <span *ngIf="!loading">Submit</span>
          <div *ngIf="loading" class="password-spinner"></div>
        </button>
      </div>  
    </div>    
  </div>
</div>
