<!--
<div style="display: flex; flex-direction: column; height: 100%;">
  <div style="flex-grow: 1; display: flex; flex-direction: column;">
  </div>
  xtesteee
  <fs-toolbar></fs-toolbar>
</div>
tssdddd -->
<!-- <app-topbar></app-topbar> -->

  <!-- <app-sidebar></app-sidebar> -->

    <!-- <app-header></app-header> -->

    <div class="grid-container">
      <div class="card">
        <img src="https://lh3.googleusercontent.com/ci/AL18g_SrTz_q0XjBTxH42wLYdkA7YjTYSbQf9AzFkHvLUj_YpJu99GQLao4tYwDz9un422MJ3lZ6uC8" alt="Sample Image">
        <div class="card-content">
          <h3>Título 1</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="card">
        <img src="https://lh3.googleusercontent.com/ci/AL18g_SrTz_q0XjBTxH42wLYdkA7YjTYSbQf9AzFkHvLUj_YpJu99GQLao4tYwDz9un422MJ3lZ6uC8" alt="Sample Image">
        <div class="card-content">
          <h3>Título 2</h3>
          <p>TLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <div class="card">
        <img src="https://lh3.googleusercontent.com/ci/AL18g_SrTz_q0XjBTxH42wLYdkA7YjTYSbQf9AzFkHvLUj_YpJu99GQLao4tYwDz9un422MJ3lZ6uC8" alt="Sample Image">
        <div class="card-content">
          <h3>Título 3</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
      <!-- Add more cards as needed -->
    </div>


