
a {
  color: #7c8085;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 5%;
  color: #2c2a2a;
}

.wrapper {
  background-color: #6f777c85 !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  height: 100vh;
}


input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #6e767b;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}


input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #929ea4;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
  transform: scale(0.95);
}

#formContent {
  background-color: #f6f7f8;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input {
  margin-top: 15px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #adb5bd;
}

 .underlineHover:hover {
   color: #0d0d0d;
 }

*:focus {
  outline: none;
}

#logo {
  width: 60%;
  padding-bottom: 5px;
}

@media screen and (max-width: 400px) {

  h2 {
    font-size: 14px;
    margin: 20px 8px 5px 8px;
  }

  .wrapper {
    padding: 10px;

  }

  #formContent {
    width: 100%;
    max-width: none;
    min-width: 252px;
  }

  input[type=button],
  input[type=submit],
  input[type=reset] {
    padding: 10px 30px;
    margin: 5px 5% 20px 5%;
  }

  input[type=email],
  input[type=tel],
  input[type=text],
  input[type=password] {
    padding: 10px 16px;
    margin: 5px;
    width: 90%;
  }
}