@if(data) {
  <div class="calculation-overview">
    <header>
      <h1 class="title">Checks · {{data?.propertyName}}</h1>
      <button class="btn-additional" (click)="addCalculation()">Additional Calculation</button>
    </header>
    
    <div class="overview-container">
      <div class="image-container">
        <img [src]="data?.picture" alt="House Image" class="house-image" />
      </div>
      
      <section class="calculation-details">
        <h2 class="section-title">Period {{ data?.period }}</h2>
        <div class="details-grid">
            <div class="detail-item"><strong>Created on:</strong> {{ data?.createdOn | date:'MMMM d, y' }}</div>
          <div class="detail-item"><strong>Created by:</strong> {{ data?.createdBy }}</div>
          <div class="detail-item"><strong>Reference:</strong> {{ data?.reference }}</div>
          <div class="detail-item"><strong>Total points:</strong> {{ data?.totalPoints }}</div>
          <div class="detail-item"><strong>Maximum rental price:</strong> {{ data?.maxRent }}</div>
          <div class="detail-item"><strong>Current rental price:</strong> {{ data?.currentRent }} 
            <span class="edit-price" (click)="editPrice()">✎</span>
          </div>
        </div>
      </section>
    </div>
    
    <div class="actions-container">
      <button class="btn-modify" (click)="modifyCalculation()">Modify</button>
      <button class="btn-export" (click)="exportPDF()">Export PDF</button>
      <button class="btn-back" (click)="exitPage()">Return to List</button>
    </div>
  </div>
} @else {
    <div class="no-data">
      <h2>No calculation data available</h2>
      <p>Please start a new calculation.</p>
    </div>
}