<div class="avatar-container">
    
    <div class="image-container" *ngIf="file; else placeholder"
    [ngClass]="{'box-shadow-avatar': !!file}"
    [ngStyle]="{backgroundImage: 'url(' + file + ')'}">
    </div>

    <ng-template #placeholder>
        <div class="image-container avatar-placeholder">
        </div>
    </ng-template>


    <label for="avatar-input-file">
        <div class="icon-wrapper">
            <input type="file" id="avatar-input-file" accept="image/*" (change)="onFileChange($event)" />
            <wws-icon icon="fa fa-pencil" size="20" color="white"></wws-icon>
        </div>
    </label>

    <app-modal
        [show]="isModalOpen"
        (close)="onModalClose()"
        style="max-height: 200px;"
        >
        <div class="modal-body">
            <app-image-cropper
                [isOpen]="isModalOpen"
                [image]="selectedImage"
                (close)="handleCroppedImage($event)"            
            ></app-image-cropper>

        </div>

        <div class="modal-footer-content w-100">
            <button style="margin-right: 1rem" wwsBtn="none" color="secondary" (click)="onModalClose()">
                {{ 'buttons.cancel' | translate }}
            </button>
            <button color="primary" wwsBtn="primary" style="float: right;" (click)="triggerCrop()">
                {{ 'buttons.select' | translate }}
            </button>
        </div>
    </app-modal>
</div>