.input-select {
  width: 100%;
  border: 1px solid $c-neutral--light;
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 18px;

  &[disabled] {
    background-color: $c-neutral--lighter;
    color: grey;
  }
}
