.modal {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  .modal-content {
    background-color: var(--primary-color);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    position: relative;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  .street-view {
    width: 100%;
    height: 400px;
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #ddd;
    background-color: var(--primary-color);;
    border-radius: 0 0 10px 10px;
  }
  
  .address {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--primary-text-color);
  }
  
  .footer-buttons {
    display: flex;
    gap: 10px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s;
  }
  
  .close-btn {
    background-color: #ccc;
    color: #333;
  }
  
  .select-btn {
    background-color: #007bff;
    color: white;
  }
  
  button:hover {
    opacity: 0.8;
  }